* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
}

h1 {
    text-align: center;
    background-color: tomato;
    padding: .5rem;
    color: seashell;
    font-size: 5rem;
}

h2 {
    text-align: center;
    background-color: rgb(8, 148, 184);
    color:seashell;
}

h4 {
    text-align: center;
    text-decoration: underline;
    margin-top: .6rem;
    font-size: large;
}

h3 {
    padding-left: 1rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    margin: 1rem;
    border: .2rem solid rgb(146, 238, 210);
    color: seashell;
    background-color: tomato;
}

.flex-left {
    flex: 5;
}

.flex-right {
    display: flex;
    flex: 1;
    background-color: rgb(146, 238, 210);
    margin-bottom: 2rem;
    margin-right: .6rem;
    /* Why are the bullets not being included? */
}

.fishtypes {
    display: flex;
    flex-flow: row wrap;
}

.fish {
    margin: .8rem;
    padding: .4rem;
    border: .4rem solid tomato;
}

.fish_banner {
    font-size: x-large;
    text-align: center;
    font-weight: 900;
}

.fish_image {
    width: 18rem;
    height: 10rem;
}

.fish_latin {
    text-align: center;
    font-weight: 700;
}

.quotebox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: rgb(173, 144, 156);
    padding: 1rem;
}

.quote {
    border: .3rem solid rgb(146, 238, 210);
    margin: .3rem;
    background-color: tomato;
    color: azure;
    padding: .5rem;
    font-size: large;
}

.locations {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: rgb(173, 144, 156);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.location {
    margin: 1rem;
    padding: 1rem;
    background-color: tomato;
}

.location_image {
    width: 10rem;
    height: 10rem;
    border: .3rem solid rgb(12, 189, 233);
}

.location_name {
    color: azure;
    font-size: x-large;
    text-align: center;
}

.fishy-tips {
    list-style-position: inside;
    padding: .5rem;
}

h5 {
    color: slategray;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

.fish-tips {
    color: slategray;
    font-weight: bold;
}